<div class="map">
  <div class="map__grid">
    <div class="map__route">
      <span class="marker marker--restaurant" title="Restaurant"></span>
      <span class="marker marker--driver" title="Rider"></span>
      <span class="marker marker--customer" title="Customer"></span>
    </div>
  </div>
  <div class="map__legend">
    <p><span class="dot dot--restaurant"></span> Restaurant</p>
    <p><span class="dot dot--driver"></span> Rider</p>
    <p><span class="dot dot--customer"></span> You</p>
  </div>
  <div class="map__status">
    <p class="distance">{{ distanceText }}</p>
    <p class="eta">ETA: {{ etaMinutes }} min</p>
  </div>
</div>

